body {
    background-image:url("patterncreed.jpg");
    
} 

#title{
    text-align: center;
    color:rgba(255,255,255,255);
    border-style: solid;
    border-color: black;
    word-wrap:break-word;
    text-shadow:2px 2px black;
    opacity:.8;
    background-color:blue;
    border:5px;
    width:400px;
    position: relative;
    left: 500px;
}

#ippograd{

text-align: center;
max-width: 623px;
height:536px; 
background: linear-gradient(green, yellow, green);
animation-name:ippograd;
background-repeat: no-repeat;
animation-duration: 4s
}   

#ippopic{
 width:250px;
 height:250px;
 background-image:url("ippo.jpg");
 background-repeat: no-repeat;
 transition: width 2s;
 transform: skewy(180deg);
}
@keyframes ippograd{
   0% {opacity: 0}
   25% {opacity: 0}
   50% {opacity: .3}
   100% {opacity: 1}
}
#ippopic:hover{
    width:1000px;
    height:1000px;
}